<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>CommuniFeed</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="d-flex justify-content-between m-4">
        <div class="logo">
          <a href="/" style="text-decoration: none">CommuniFeed</a>
        </div>
        <ul class="nav float-right">
          <li class="nav-item">
            <a class="nav-link" href="account"
              >Account <i class="fa-sharp fa-solid fa-person"></i
            ></a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Posts <i class="fa-solid fa-paperclip"></i
            ></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="create-a-post">Create A Post</a>
              <a class="dropdown-item" href="posts-in-my-area">Posts In My Area</a>
              <a class="dropdown-item" href="post-history">My Post History</a>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <div class="center-me">
      <br>
      <br>
      <br>
      <br>
      <div class="d-flex justify-content-center align-items-center">
        <div class="content d-flex flex-column w-50">
          <br>
          <h1>Wecome to <br /><span>CommuniFeed</span></h1>
          Food waste and food insecurity are major issues and effective access to food is unattainable for many. Our goal is to create a barrier-free and safe access to food for the community.
          <br><br>
          The website provides donors the opportunity to donate extra food, and receivers the opportunity to pick up food without the extra barriers that come with food banks and pantries.
        </div>
        <img src="../static/images/happy.svg" alt="" style="height: 300px" />
      </div>
      <div class="lgs d-flex call-to-action justify-content-center">
        <div class="d-flex flex-column">
          <h3 class="text-center">
            Let's get started <br /><span>I am a...</span>
          </h3>
          <div class="cta-buttons d-flex justify-content-center">
            <a href="create-a-post">
              <button type="button" href="create-a-post" class="btn btn-outline-primary">
                Donator
              </button>
            </a>
            
            <a href="posts-in-my-area">
              <button type="button" class="btn btn-outline-primary">
                Reciever
              </button>
            </a>
            
          </div>
        </div>
      </div>

  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
</html>
